[Unit]
Description=Runs wal and other scripts to sync colors

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/home/sam/.wal-startup.sh


[Install]
WantedBy=graphical-session.target
