* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'JetBrainsMono Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: none;
}

window#waybar {
  background-color: rgba(51, 60, 67, 0.0);
  border: none;
  border-radius: 10px;
}

#workspaces {
  color: #d3c6aa;
  background-color: rgba(51, 60, 67, 0.8);
  border-radius: 8px;
  border: 2px solid #7fbbb3;
}

#workspaces button {
  transition: all 0.2s ease-in-out;
  color: #d3c6aa;
}

#workspaces button.active {
  transition: all 0.2s ease-in-out;
  color: #a7c080;
}

box#window {
  color: #d3c6aa;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(51, 60, 67, 0.8);
  border-radius: 8px;
  border: 2px solid #7fbbb3;
}

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  border:none;
}

