### TEXT THEME ###

font = "JetBrainsMono Nerd Font"
font-size = 16

text-color = {foreground}
selection-color = {color2}
prompt-color = {color4}

### WINDOW THEME ###

background-color = {background}cd

border-width = 2
border-color = {color5}
corner-radius = 10

outline-width = 0

width = 500
height = 300

scale = true
